<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
</head>
<body style="background: #5CDB95">

<h1>Менеджеры:</h1>
<div th:each="el : ${Manager}">
    <h3><b> Фамилия - </b> <span th:text="${el.getSurname()}" /></h3>
    <p><b>Имя - </b> <span th:text="${el.getName()}"/></p>
    <p><b> Отчество - </b> <span th:text="${el.getMiddlename()}"/></p>
    <p><b> Дата рождения - </b> <span th:text="${el.getBthday()}"/></p>
    <p><b> Адрес регистрации - </b> <span th:text="${el.getAdresReg()}"/></p>
    <p><b> Email - </b> <span th:text="${el.getEmail()}"/></p>

    <form  th:action="'/blog/Manager/' + ${el.id} + '/Edit'">
        <button class="btn btn-warning" type="submit">Изменить</button>
    </form>

    <form th:action="'/blog/Manager/' + ${el.id} + '/Remove'" method="post">
        <button class="btn btn-warning" type="submit" >Удалить</button>
    </form>
</div>
</body>
</html>
