<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА </title>
</head>
<body style="background: #5CDB95">

<h1>Покупатели</h1>
<div th:each="el : ${Buyer}">
    <h3 style="color: white"><b> Фамилия - </b> <span th:text="${el.getSurnameB()}" /></h3>
    <p style="color: white"><b>Имя - </b> <span th:text="${el.getNameB()}"/></p>
    <p style="color: white"><b> Отчество - </b> <span th:text="${el.getMiddlenameB()}"/></p>
    <p style="color: white"><b> Год рождения - </b> <span th:text="${el.getBthdayB()}"/></p>
    <p style="color: white"><b> Адрес регистрации - </b> <span th:text="${el.getAdresRegB()}"/></p>
    <p style="color: white"><b> Email - </b> <span th:text="${el.getEmailB()}"/></p>
    <p style="color: white"><b> ИНН - </b> <span th:text="${el.getINN()}"/></p>
    <p style="color: white"><b> Серия паспорта - </b> <span th:text="${el.getSeriaPass()}"/></p>
    <p style="color: white"><b> Номер паспорта - </b> <span th:text="${el.getNomPass()}"/></p>

    <form  th:action="'/blog/Buyer/' + ${el.id} + '/Edit'">
        <button class="btn btn-warning" type="submit">Изменить</button>
    </form>

    <form th:action="'/blog/Buyer/' + ${el.id} + '/Remove'" method="post">
        <button class="btn btn-warning" type="submit" >Удалить</button>
    </form>
</div>
</body>
</html>
