<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<h2>Редактирование данных kpp</h2>
<div th:each="el : ${kpp}" th:object = "${kpp}">
    <form  method="post">
        <input type="text" name="typeKpp" th:field="*{typeKpp}" placeholder="typeKpp1"><br>
        <div style="color: white" th:if="${#fields.hasErrors('typeKpp')}" th:errors="*{typeKpp}"></div>
        <input type="text" name="stupeniKpp" th:field="*{stupeniKpp}" placeholder="1323"><br>
        <div style="color: white" th:if="${#fields.hasErrors('stupeniKpp')}" th:errors="*{stupeniKpp}"></div>
        <br>
        <form>
            <button type="submit" style="background: #379683">Изменить данные kpp</button>
        </form>
    </form>
</div>
</body>
</html>