<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<h2>Редактирование данных двигателя</h2>
<div th:each="el : ${engine}" th:object = "${engine}">
    <form  method="post">
        <input type="text" name="horsepower" th:field="*{horsepower}" placeholder="Л/С"><br>
        <div style="color: white" th:if="${#fields.hasErrors('horsepower')}" th:errors="*{horsepower}"></div>
        <input type="text" name="engineCapacity" th:field="*{engineCapacity}" placeholder="Объем двигателя"><br>
        <div style="color: white" th:if="${#fields.hasErrors('engineCapacity')}" th:errors="*{engineCapacity}"></div>




        <br>
        <form>
            <button type="submit" style="background: #379683">Изменить данные двигателя</button>
        </form>
    </form>
</div>
</body>
</html>