<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>ПРАКТИЧЕСКАЯ РАБОТА</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<h2>Редактирование данных страхования</h2>
<div th:each="el : ${insurance}" th:object = "${insurance}">
  <form  method="post">


    <input type="date" name="startDate" th:field="*{startDate}" placeholder="Дата начала страхования"><br>
    <div style="color: white" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>

    <input type="date" name="endDate" th:field="*{endDate}" placeholder="Дата окончания страхования"><br>
    <div style="color: white" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>

    <input type="text" name="summ" th:field="*{summ}" placeholder="Сумма страхования"><br>
    <div style="color: white" th:if="${#fields.hasErrors('summ')}" th:errors="*{summ}"></div>

    <select  name="nameTypeInsurance">
      <div th:each="element : ${typeInsurance}">
        <option th:text="${element.nameTypeInsurance}"></option>
      </div>
    </select>

    <select  name="INN">
      <div th:each="element : ${buyer}">
        <option th:text="${element.INN}"></option>
      </div>
    </select>


    <br>
    <form>
      <button type="submit" style="background: #379683">Изменить данные страхования</button>
    </form>
  </form>
</div>
</body>
</html>