<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ПРАКТИЧЕСКАЯ РАБОТА</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<div th:insert="Blocks/Header"></div>
<h1>Вид страхования</h1>

<form  th:action="'/Add/TypeInsurance'">
  <button class="btn btn-warning" STYLE="background: #379683" type="submit">Добавить вид страхования</button>
</form>

<div th:each="el : ${TypeInsurance}">

  <p style="color: white"/><b>Наименование типа страхования - </b> <span th:text="${el.getNameTypeInsurance()}"/></p>

  <form  th:action="'/TypeInsurance/' + ${el.id} + '/Edit'">
    <button class="btn btn-warning" style="background: #379683" type="submit">Изменить</button>
  </form>

  <form th:action="'/TypeInsurance/' + ${el.id} + '/Remove'" method="post">
    <button class="btn btn-warning" style="background: #379683" type="submit">Удалить</button>
  </form>
</div>
</body>
</html>
