<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<div th:insert="Blocks/Header"></div>
<h1>Автомобили</h1>

<form style="color: blue" th:action="'/Search/Cars'">
    <button class="btn btn-warning" STYLE="background: #379683" type="submit">Поиск авто</button>
</form>
<form  th:action="'/Add/Cars'">
    <button class="btn btn-warning" STYLE="background: #379683" type="submit">Добавить авто</button>
</form>


<div th:each="el : ${cars}">

    <h2 style="color: white"><b>Марка -  </b> <span th:text="${el.getCarbrand()}" /></h2>
    <h2 style="color: white"><b>Модель - </b> <span th:text="${el.getCarsmodel()}" /></h2>


    <form  th:action="'/blog/Cars/' + ${el.id}">
        <button STYLE="background: #379683" class="btn btn-warning" type="submit">Подробнее</button>
    </form>

</div>
</body>
<br>
<form  th:action="'/Engine/'">
    <button STYLE="background: #379683" class="btn btn-warning" type="submit">Добавить двигатель</button>
</form>
<br>

<form  th:action="'/Color/'">
    <button STYLE="background: #379683" class="btn btn-warning" type="submit">Добавить цвет</button>
</form>
<br>
<form  th:action="'/KPP/'">
    <button STYLE="background: #379683" class="btn btn-warning" type="submit">Добавить КПП</button>
</form>
</html>