<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ПРАКТИЧЕСКАЯ РАБОТА №3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body style="background: #5CDB95">
<h2>Поиск автомобиля</h2>
<form method="post" th:action="${'/Search/Cars-result'}">
    <input type="text" name="carsmodel"><br>
    <button type="submit" style="background: #379683">Точное сопадение</button>
</form>
    <form method="post" th:action="${'/Search/Cars'}">
        <input type="text" name="carsmodel"><br>
        <button type="submit" style="background: #379683">Не точное сопадение</button>
    </form>
    <tbody>
    <tr th:each="el : ${result}">
        <h2><b> Марка -  </b> <span th:text="${el.getCarbrand()}" /></h2>
        <h2><b> Модель -  </b> <span th:text="${el.getCarsmodel()}"/></h2>
        <p><b> Год выпуска -  </b> <span th:text="${el.getYear_release()}"/></p>

    </tr>
    </tbody>
</body>
</html>
