<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
  <header class="p-3 text-bg-dark">
    <div class="container">
        <a href="/Manager" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <a href="/Post" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <a href="/dogovor" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
      <a href="/Buyer" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <a href="/Salon" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <a href="/Dkp" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <a href="/Postavka" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>
      <a href="/Insurance" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a>

      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Manager" class="nav-link px-2 text-white">Сотрудники</a></li>
          <li><a href="/" class="nav-link px-2 text-white">Автомобили</a></li>

          <li><a href="/Post" class="nav-link px-2 text-white">Должности</a></li>

          <li><a href="/dogovor" class="nav-link px-2 text-white">Договор</a></li>

          <li><a href="/Buyer" class="nav-link px-2 text-white">Покупатели</a></li>

          <li><a href="/Salon" class="nav-link px-2 text-white">Салоны</a></li>

          <li><a href="/Dkp" class="nav-link px-2 text-white">ДКП</a></li>

          <li><a href="/Postavka" class="nav-link px-2 text-white">Поставка</a></li>

          <li><a href="/Insurance" class="nav-link px-2 text-white">Страхование</a></li>
        </ul>
      </div>
  </header>
</div>


</body>
</html>